div {
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
}

p {
    color: navy;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.caja-uno {
    width: 150px;
    height: 150px;
    background-color: rgb(163, 245, 69);
}

.caja-dos {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 255, 255, 0.5);
}

.caja-tre {
    width: 300px;
    height: 300px;
    background-color: #4b0082;
}

.sangre {
    width: 150px;
    height: 150px;
    background-color: hsl(0, 80%, 60%, 1);
    transform: rotate(-1deg);
}

* {
    margin: 0;
    padding: 0;
}

#id {
    background-color: coral;
    padding: 20px;
    font-style: italic;
}

a[title] {
    color: darkgreen;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

a[title]:hover {
    font-style: italic;
    color: lightgreen;
}

p::first-line {
    color: black;
}

.lista1, .lista2, .lista3 {
    width: 500px;
    height: 500px;
}